body {
    background-color: lightblue;
}

div {
    text-align: center;
    color:white;
    display: block;
    flex-basis: 200px;
}

.title {
    text-align:center;
    background-color: gray;
    padding: 8px;
    margin-bottom: 8px;
    margin-top: 0;
}


.main-content {
    background-color: gray;
    text-align:center;
    flex-basis: 200px;
}

.button-container {
    text-align:center;
    flex: 1 1 0;
    
}

button {
    background: white;
    border: 1px solid lightgrey;
    display: block;
    margin: 0 auto;
    padding: 8px 24px;
    text-decoration: none;
}
